body {
  background-color: #faebd7;
}

h1 {
  text-align: center;
  background-color: rgb(105, 105, 160);
  padding: 80px;
  font-weight: bolder;
  margin: -0.5rem;
}
p {
  text-align: center;
  font-size: larger;
}
a button{
  border: 2px solid;
  font-size: 30px;
  text-align: center;
  display:flexbox;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  display:gridbox;
  cursor:pointer;
}
.container{
  display:flexbox;
  display: gridbox;
}
a button:hover {
  background-color: #b0b0b0;
}
a {
  text-align: start;
  font-size: 20px;
  color:blue;
}
.inputField {
  margin: 3rem;
  text-align: center;
  font-size: 20px;
  border-width: 100px;

}
.calculatorButton {
  font-size: 20px;
}
#markedAmount {
  font-size: 20px;
}
#vatRate {
  font-size: 20px;
}
#marketPrice {
  font-size: 20px;
}
#discountRate {
  font-size: 20px;
}
#sellingAmount {
  font-size: 20px;
}

#costAmount {
  font-size: 20px;
}
#vatOutput {
  font-size: 30px;
  margin: 4rem;
  text-align: center;
}
#discountOutput {
  font-size: 30px;
  margin: 4rem;
  text-align: center;
}
#profitLossOutput {
  font-size: 30px;
  margin: 4rem;
  text-align: center;
}
